.navDiv {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  color: var(--title-color);
}
.navDiv img {
  z-index: 101;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}

.navLinks a {
  position: relative;
  cursor: pointer;
}

.navLinks a::before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 4px;
  border-radius: 5px;
  transition: 0.3s all ease;
  background-color: var(--orange-color);
}

.navLinks a:hover::before {
  width: 100%;
}

.navDiv svg {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 101;
}

.mobileLinks {
  background-color: rgb(240, 240, 240);
  z-index: 100;
  flex-direction: column;
  position: fixed;
  padding-top: 100px;
  inset: 0;
  padding-inline: 30px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  transition: 0.7s all ease;
}

.mobileNavActive {
  transform: translateX(0%);
}

.mobileNavClose {
  transform: translateX(100%);
}
@media (max-width: 768px) {
  .navDiv svg {
    display: block;
  }
  .navLinks {
    display: none;
  }
}
